#control-bar {
    width: 100vw;
    height: 55px;
}

#step-btn {
    width: 100px;
}

#control-bar > p {
    display: inline;
}

#control-bar > select {
    display: inline;
}

#control-bar > hr {
    margin-bottom: 0;
}

body > .container {
    margin-top: 1em;
}

/* 
navbar is 50 px tall
nav has 20 px padding
control bar is 55 px tall
hr has 20px padding

sum=145
*/

#left-pane {
    /*background-color: grey;*/
    width: 30vw;
    height: calc(100vh - 145px);
    position: absolute; 
    left: 0px; 
}

#right-pane {
    /*background-color:black;*/
    width: 70vw; 
    height: calc(100vh - 145px);
    position: absolute; 
    right: 0px;
    border-left-style: solid;
    border-left-color: black;
}

#main-svg {
    width: 100vw;
    height: calc(100vh - 145px);
    z-index: -1;
}